*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("blue.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    
    text-align: center;

    line-height: 600px;
    color:white;
    font-family: 'Thasadith';
    font-weight: 130;
    font-size: 150px;
}
.go {
    
    transition: transform .2s;
    opacity: 0.9
}
.go:hover {
    transform: scale(1.2);
    opacity: 1
}
span{
    opacity:0;
    transition: all 0.8s ease;
}
span.fade{
   opacity: 1;
}